/* Base */

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* BEM */

/* navigation */

header {
    display: flex;
    justify-content: center;
}

.nav {
    margin:10px auto;
    text-align: center;
}

.nav__item,
.nav__item--selected {
    display: inline-block;
    margin: 0 5px;
}

.nav__item a,
.nav__item--selected a {
    color: #797e83;
    font-size: 1.1em;
    padding: 8px;
}

.nav__item--selected a {
    color: black;
    border-bottom : black solid 2px
}

.nav__item a:hover, .nav__item--selected a:hover {
    background-color: black;
    color: white;
}